<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Run Test</h4>
          </div>
          <div class="card-body">
            <p class="mt-3">
              This following button will run ART and RT algorithm until the failure region is hit
            </p>
            <div *ngIf="!loading; else spinner">
              <mat-form-field appearance="outline">
                <mat-label>Number of run</mat-label>
                <input type="number" matInput placeholder="Num. of run" [(ngModel)]="numberOfCom">
              </mat-form-field>
              <input class="mb-3" type="file" placeholder="Upload file" (change)="onFileChange($event)">
              <button mat-raised-button color="primary" (click)="run()" class="mb-3">Run</button>
            </div>
            <ng-template #spinner>
              <div class="loading-panel-panel">
                <div class="loading-panel">
                  <mat-spinner></mat-spinner>
                  <h4 class="mt-5">Calculating ...</h4>
                  <button mat-raised-button color="primary" (click)="cancelRun()" class="mb-3">Cancel</button>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-md-8 mb-5">
        <div class="card h-100">
          <div class="card-header card-header-success">
            <h4 class="card-title">Results</h4>
          </div>
          <div class="card-body">
            <mat-tab-group>
              <mat-tab label="Summary">
                <div class="m-3">
                  <h4>Run Summary</h4>
                  <p>Draw:</p>
                  <h2>{{drawCount}}</h2>
                  <p>ART</p>
                  <h2>{{artWinCount}}</h2>
                  <div class="row" *ngIf="artImageResultUrl || artFaultyImageResultUrl">
                    <div class="col-12 col-md-6">
                      <p>Current Result (Normal)</p>
                      <img [src]="artImageResultUrl" class="w-100 image-preview" alt="Normal" />
                    </div>
                    <div class="col-12 col-md-6">
                      <p>Current Result (Faulty)</p>
                      <img [src]="artFaultyImageResultUrl" class="w-100 image-preview" alt="Faulty" />
                    </div>
                  </div>
                  <div *ngIf="loading">
                    <p class="mt-2" *ngIf="artFail; else artNoFail">ART detects failure!</p>
                    <ng-template #artNoFail>
                      <p class="mt-2">ART does not detect failure</p>
                    </ng-template>
                  </div>
                  <p>RT</p>
                  <h2>{{rtWinCount}}</h2>
                  <div class="row" *ngIf="rtImageResultUrl || rtFaultyImageResultUrl">
                    <div class="col-12 col-md-6">
                      <p>Current Result (Normal)</p>
                      <img [src]="rtImageResultUrl" class="w-100 image-preview" alt="Normal" />
                    </div>
                    <div class="col-12 col-md-6">
                      <p>Current Result (Faulty)</p>
                      <img [src]="rtFaultyImageResultUrl" class="w-100 image-preview" alt="Faulty" />
                    </div>
                  </div>
                  <div *ngIf="loading">
                    <p class="mt-2" *ngIf="rtFail; else rtNoFail">RT detects failure!</p>
                    <ng-template #rtNoFail>
                      <p class="mt-2">RT does not detect failure</p>
                    </ng-template>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Box Plot">
                <plotly-plot [data]="boxPlotGraph.data" [layout]="boxPlotGraph.layout"></plotly-plot>
              </mat-tab>
              <mat-tab label="Line Graph">
                <plotly-plot [data]="lineGraph.data" [layout]="lineGraph.layout"></plotly-plot>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Plate Recognition (ART vs RT)</h4>
            <!-- <p class="card-category">Edit categories and choices for that</p> -->
          </div>
          <div class="card-body text-right">
            <mat-form-field appearance="outline">
              <mat-label>Url</mat-label>
              <input type="text" matInput placeholder="Url of the image" [(ngModel)]="imageUrl">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="test()" class="mb-3">Test</button>
            <div class="row" *ngIf="imageResultUrl && imageResultFaultyUrl">
              <div class="col-12 col-md-6">
                <img [src]="imageResultUrl" class="w-100 image-preview" alt="Normal" />
              </div>
              <div class="col-12 col-md-6">
                <img [src]="imageResultFaultyUrl" class="w-100 image-preview" alt="Faulty" />
              </div>
            </div>
            <div class="row text-left">
              <div class="col-12 col-md-6">
                <pre class="image-detail-result">{{imageResult | json}}</pre>
              </div>
              <div class="col-12 col-md-6">
                <pre class="image-detail-result">{{imageResultFaulty | json}}</pre>
              </div>
            </div>
            <h1>{{faultyOrNot}}</h1>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="card h-100">
          <div class="card-header card-header-info">
            <h4 class="card-title">Categories and Choices</h4>
          </div>
          <div class="card-body">
            <table mat-table [dataSource]="categories" class="w-100">

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              </ng-container>

              <ng-container matColumnDef="choices">
                <th mat-header-cell *matHeaderCellDef> Choices </th>
                <td mat-cell *matCellDef="let element"> {{element.choices}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>